<virtual-scroller
  #scroll
  [items]="groupedItems"
  (vsUpdate)="fetchMore($event)"
  [enableUnequalChildrenSizes]="true"
>
  <div class="gallery-items" #container>
    <ng-container *ngFor="let item of scroll.viewPortItems">
      <ng-container *ngIf="isArray(item); else title">
        <div class="grid">
          <composited-card
            *ngFor="let num of item"
            class="card"
            [protoId]="num"
            [quality]="4"
          ></composited-card>
        </div>
      </ng-container>
      <ng-template #title>
        <h1 class="title">
          {{ item }}
        </h1>
      </ng-template>
    </ng-container>
  </div>
</virtual-scroller>
