<virtual-scroller
  #scroll
  [items]="groupedItems"
  (vsUpdate)="fetchMore($event)"
  [enableUnequalChildrenSizes]="true"
>
  <div class="gallery-items" #container>
    <ng-container *ngFor="let item of scroll.viewPortItems">
      <ng-container *ngIf="isArray(item); else title">
        <div class="grid">
          <gallery-img *ngFor="let num of item" [item]="num"></gallery-img>
        </div>
      </ng-container>
      <ng-template #title>
        <h1 class="title">
          {{ item }}
        </h1>
      </ng-template>
    </ng-container>
  </div>
</virtual-scroller>
