:host {
  width: 90%;
  height: 90vh;
  margin: auto;
}

.gallery-items {
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  margin-bottom: 3vh;
}

.title {
  text-align: center;
  line-height: 5vh;
}

.card {
}
