virtual-scroller {
  width: auto;
  height: 700px;
}

.gallery-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

.gallery-item {
  width: 100%;

  img {
    width: 100%;
  }
}
